


a {
    text-decoration: none;
    display: inline;
    padding: 0.5rem 1rem;
    border: 0.1rem solid skyblue;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: black;

}
.block {
    margin-bottom: 2rem;
    
}